<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - trybe</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font: 13px Helvetica, Arial;
      }
      form {
        background: #000;
        padding: 3px;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: 0.5%;
      }
      form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
        cursor: pointer;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        padding: 5px 10px;
      }
      ul li:nth-child(odd) {
        background: #eee;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script>
      const loadStorage = (key, initialValue) => {
        try {
          const serializedState = localStorage.getItem(key);
          if (serializedState === null) {
            return initialValue;
          }
          return JSON.parse(serializedState);
        } catch (err) {
          return initialValue;
        }
      };

      const saveStorage = (nameKey, state) => {
        try {
          const serializedState = JSON.stringify(state);
          localStorage.setItem(nameKey, serializedState);
        } catch (err) {
          // ignore
        }
      };

      window.onload = () => {
        const socket = io('http://localhost:3000');

        const button = document.querySelector('#send-button');
        button.addEventListener('click', () =>{
          const inputMessage = document.querySelector('#message-box');
          const nickname = document.querySelector('#online-user');
          socket.emit('message', { nickname: nickname.innerHTML, chatMessage: inputMessage.value });
          inputMessage.value = '';
          return false;
        })

        
        const createMessage = ({ message }) => {
          const messagesUl = document.querySelector('#mensagens');
          const li = document.createElement('li');
          li.innerText = message;
          messagesUl.appendChild(li);
          // const childrenLi = messagesUl.children;
          // childrenLi[childrenLi.length - 1].name = 'super message';
        }
        
        socket.on('messageCli', (mensagem) => createMessage(mensagem));

        // const ola = () => {
        //   const lis = document.getElementById('mensagens');
        //   lis.children.forEach((element) => {
        //     element.style.display = 'none';
        //   })
        // }
        
        const createUserOn = ({ nickname, idSocket }) => {
          const userUl = document.querySelector('#user-on');
          const li = document.createElement('li');
          li.innerText = nickname;
          li.id = idSocket;
          li.setAttribute('class', 'online-user2');
          li.setAttribute('data-testid', 'online-user');
          userUl.appendChild(li);
        }
        // Quando nosso evento `ola` for emitido, vamos pegar a string mensagem enviada pelo nosso evento e passar para a função `createMessage`
        socket.on('usersOn', (mensagem) => createUserOn(mensagem));

        const randomName = () => {
          const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
          let result = '';
          var charactersLength = characters.length;
          for (let i = 0; i < 16; i++) {
            result += characters[Math.floor(Math.random() * charactersLength)];
          }
          return result
        }

        const nickname = document.querySelector('#online-user');
        nickname.innerHTML = loadStorage('nickname', randomName());
        saveStorage('nickname', nickname.innerHTML);

        const allUsers = document.querySelectorAll('.online-user2');

        allUsers.forEach((element) => {
          const nickname = document.querySelector('#online-user');
          const userUl = document.querySelector('#user-on');
          if (element.id === loadStorage('oldId', '')) {
            userUl.removeChild(element);
          }
        });

        console.log('socket',socket)
        console.log('socket.id',socket.ids)
        socket.emit('userOn', nickname.innerHTML);

        const nicknameButton = document.querySelector('#nickname-button');
        nicknameButton.addEventListener('click', () => {
          const nickname = document.querySelector('#online-user');
          const nicknameBox = document.querySelector('#nickname-box');
          nickname.innerHTML = nicknameBox.value;
          saveStorage('nickname', nickname.innerHTML);
          socket.emit('userUpdate', nickname.innerHTML);
        })

        const deleteUser = (idUser) => {
          const userUl = document.querySelector('#user-on');
          const userli = document.getElementById(idUser);
          console.log('userli', userli)
          userUl.removeChild(userli);
        };

        const userNicknameUpdate = ({ nickname, idSocket }) => {
          const userUl = document.querySelector('#user-on');
          const userli = document.getElementById(idSocket);
          console.log('idSocket', idSocket);
          userUl.removeChild(userli);
          const li = document.createElement('li');
          li.innerText = nickname;
          li.id = idSocket;
          li.setAttribute('class', 'online-user2');
          li.setAttribute('data-testid', 'online-user');
          userUl.appendChild(li);
        }

        socket.on('userOff', (idUser) => deleteUser(idUser));        
        socket.on('userNicknameUpdate', (mensagem) => userNicknameUpdate(mensagem));
        window.onbeforeunload = function(event) {
          saveStorage('oldId', socket.id);
          // event.returnValue = "Write something clever here..";
        };
      }      
    </script>
  </head>
  <body>
    <div>
      <div>
        <input id="nickname-box" type="text" data-testid="nickname-box">
        <button id="nickname-button" data-testid="nickname-button">Salvar</button>
      </div>
      <p>
        Seu nickname é:
        <%= ' ' %>
        <span id="online-user" data-testid="online-user"></span>
      </p>
    </div>
    <h2>mensagens</h2>
    <ul id="mensagens">
      <% arrayMessages.forEach(({ currentDate, nickname, chatMessage }) => { %>
        <li data-testid="message"><%= currentDate %> - <%= nickname %>: <%= chatMessage %></li>
      <% }) %>      
    </ul>
    <h2>pessoas online</h2>
    <ul id="user-on">
      <% arrayUsersOn.forEach(({ nickname, idSocket }) => { %>
        <li class="online-user2" data-testid="online-user" id=<%= idSocket %> ><%= nickname %></li>
      <% }) %>      
    </ul>
    <div>
      <input id="message-box" data-testid="message-box" type="text" />
      <button id="send-button" data-testid="send-button" >Enviar</button>
    </div>
  </body>
</html>
